[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = $HOME/.gitignore_global
	editor = nvim

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --stat --abbrev-commit --show-signature
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	type = cat-file -t
	dump = cat-file -p
	a = add -A
	c = commit -v
	l = log -1 --pretty=%B
[credential]
	# this is a comment
	; helper = store
[init]
	templatedir = ~/.git_template
	defaultBranch = main

[github]
	user = philshaughnes

{{- if eq .comp "ggp" }}
[merge]
	keepBackup = false
	tool = p4merge

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false

[mergetool]
	keepBackup = false

[diff]
	tool = p4merge

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$LOCAL" "$REMOTE"
[branch]
	autosetupmerge = true
{{- end }}
